@import "tailwindcss";

:root {
  --primary-color: #9e9e9e;
  --secondary-color: #383838;
  --primary-font-color: white;
  --secondary-font-color: #828fa3;
}

.light {
  --primary-color: #ffffff;
  --secondary-color: #466173;
  --primary-font-color: #000000;
  --secondary-font-color: #828fa3;
}

body {
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  color: var(--primary-font-color);
  font-family: Poppins;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}